## Criando Dicion√°rio e acessando propriedade

In [8]:
testing = {
  'name': 'Eduardo',
  'age': 25
}

print(testing['name'])

Eduardo

## Criando dicion√°rio atravez da fun√ß√£o DICT

In [ ]:
me = dict(
  name= 'Eduardo',
  age= 25,
  city = 'Fortaleza-CE'
) 

print(me)

{'name': 'Eduardo', 'age': 25, 'city': 'Fortaleza-CE'}

## Trabalhando com tupla, listas e dicion√°rios combinados

In [ ]:
teams_vs_teams = [
  ('rj', 'Flamengo'),
  ('sp', 'Santos'),
  ('ce', 'Cear√°'),
  ('rs', 'Internacional')           
]

campeonato = dict(teams_vs_teams)

buy__onAmazon = {
  'name': 'Eduardo',
  'car': [
    'Camisa',
    'Bermuda',
    'Meia'
  ]
}

print(buy__onAmazon['car'])

Bermuda

## Trabalhando com FLOAT

In [16]:
estoque = {
  'bermuda': 25.9478593,
  'camisa': 54.78278498,
  'calca': 54.78589290,
  'meia': 667.34856723784
}

estoque_update_bermuda = f'A bermuda custa: R${estoque["bermuda"]:.0f}'
estoque_update_camisa = f'A camisa custa: R${estoque["camisa"]:.0f}'
estoque_update_calca = f'A cal√ßa custa: R${estoque["calca"]:.0f}'
estoque_update_meia = f'A meia custa: R${estoque["meia"]:.0f}'

estoque_update = [
  (estoque_update_bermuda),
  (estoque_update_camisa),
  (estoque_update_calca),
  (estoque_update_meia)
]

print(estoque_update)

['A bermuda custa: R$26', 'A camisa custa: R$55', 'A cal√ßa custa: R$55', 'A meia custa: R$667']

## Praticando com dicion√°rios

In [20]:
#Exercicio 01

combustivel = {
  'gasolina': 5.87,
  'Etanol': 4.29,
}

abastecimento_etanol = 10

resultado_do_abastecimento = combustivel['Etanol'] * abastecimento_etanol

print(f'Abastecendo {abastecimento_etanol}L de etanol, voc√™ vai pagar R${resultado_do_abastecimento:.2f}')

Abastecendo 10L de etanol, voc√™ vai pagar R$42.90

In [37]:
#Exercicio 02

loja = {
  'camiseta': 35.00,
  'calca': 89.90,
  'casaco': 150.00
}


desconto_calca = (25/100) * loja['calca']
calca_com_desconto = loja['calca'] - desconto_calca

desconto = (10/100) * loja['casaco']
casaco_com_desconto = loja['casaco'] - desconto

print(f'A cal√ßa com 25% de desconto: R${calca_com_desconto:.2f}')
print(f'O Casaco com 10% de desconto: R${casaco_com_desconto:.2f}')

A cal√ßa com 25% de desconto: R$67.43
O Casaco com 10% de desconto: R$135.00

In [51]:
#Exercicio  03

carrinho_compras = {
  'Arroz': 4.99,
  'Feij√£o': 6.50,
  'Leite': 3.89,
  'P√£o': 0.99,
  'Manteiga': 7.25
}

calculo_feij√£o = carrinho_compras['Feij√£o'] * 3

print(f'üìÉCarrinho de compras')
print(f'‚úèÔ∏è Arroz ‚û°Ô∏è R${carrinho_compras["Arroz"]:.2f}')
print(f'‚úèÔ∏è Feij√£o ‚û°Ô∏è R${carrinho_compras["Feij√£o"]:.2f}')
print(f'‚úèÔ∏è Leite ‚û°Ô∏è R${carrinho_compras["Leite"]:.2f}')
print(f'‚úèÔ∏è P√£o ‚û°Ô∏è R${carrinho_compras["P√£o"]:.2f}')
print(f'‚úèÔ∏è Manteiga ‚û°Ô∏è R${carrinho_compras["Manteiga"]:.2f}')

print(f'üíµ Voc√™ comprou 3x feij√£o por R${carrinho_compras["Feij√£o"]:.2f}')
print(f'üíµ O valor total de compra do feij√£o foi R${calculo_feij√£o:.2f}')

üìÉCarrinho de compras
‚úèÔ∏è Arroz ‚û°Ô∏è R$4.99
‚úèÔ∏è Feij√£o ‚û°Ô∏è R$6.50
‚úèÔ∏è Leite ‚û°Ô∏è R$3.89
‚úèÔ∏è P√£o ‚û°Ô∏è R$0.99
‚úèÔ∏è Manteiga ‚û°Ô∏è R$7.25
üíµ Voc√™ comprou 3x feij√£o por R$6.50
üíµ O valor total de compra do feij√£o foi R$19.50

## Trabalhando com Pandas e Numpy

In [17]:
import pandas as pd
import numpy as np

#Lista os dados
destinos = ['Fortaleza', 'Salvador', 'Campinas', 'Holambra', 'Macei√≥']
pre√ßos = [300.0, 450.0, 756.0, 546.0, 670.0]
disponibilidade = ['Disponivel', 'Indisponivel', 'Disponivel', 'Indisponivel', 'Disponivel' ]

#Criando o dataframe
#Construir a tabela atrav√©s dos dicion√°rios, a estrutura √© baseada em dicion√°rio/objeto
df_viagens = pd.DataFrame({
  'Destinos' : destinos,
  'Valores' : pre√ßos,
  'Disponibilidade' : disponibilidade
})

#Criando a coluna desconto com condi√ß√µes utilizando a biblioteca numpy
df_viagens['Desconto(%)'] = np.where(df_viagens['Valores'] > 500, 15, 5)

#Mostrando a tabela
df_viagens.head()

    Destinos  Valores Disponibilidade  Desconto(%)
0  Fortaleza    300.0      Disponivel            5
1   Salvador    450.0    Indisponivel            5
2   Campinas    756.0      Disponivel           15
3   Holambra    546.0    Indisponivel           15
4     Macei√≥    670.0      Disponivel           15

## Exercicio Locadora de ve√≠culos

In [20]:
import pandas as pd
import numpy as np

modelo = ['Fiat Mobi', 'Chevrolet Onix', 'Toyta Corolla', 'Renault Kwid', 'Hyundai HB20']
placa = ['ABC1A23', 'DEF2834', 'GHI3C45', 'JKL4D56', 'MNO5E67']
preco_diario = [180.0, 220.0, 300.0, 160.0, 190.0]
disponibilidade = ['Dispon√≠vel', 'Indispon√≠vel','Dispon√≠vel', 'Dispon√≠vel', 'Indispon√≠vel'] 

df_veiculos = pd.DataFrame({
  'Modelo': modelo,
  'Placa' : placa,
  'Pre√ßo' : preco_diario,
  'Disponibilidade' : disponibilidade
})

df_veiculos['Desconto'] = np.where(df_veiculos['Pre√ßo'] < 200, 15, 4)

df_veiculos.head()

           Modelo    Placa  Pre√ßo Disponibilidade  Desconto
0       Fiat Mobi  ABC1A23  180.0      Dispon√≠vel        15
1  Chevrolet Onix  DEF2834  220.0    Indispon√≠vel         4
2   Toyta Corolla  GHI3C45  300.0      Dispon√≠vel         4
3    Renault Kwid  JKL4D56  160.0      Dispon√≠vel        15
4    Hyundai HB20  MNO5E67  190.0    Indispon√≠vel        15