## Tuplas

In [ ]:
##Criando uma tupla
dias_da_semana = ('Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta')
print(dias_da_semana)

##Acessando um valor dentro da tupla para ver se existe ou não com o método "in"
print('Quarta' in dias_da_semana)

#Acessando o índice com a função .index()
print(dias_da_semana.index('Sexta'))

('Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta')
True
4

In [ ]:
#Contando o tamanho
cidades = ('Fortaleza', 'Campinas', 'Cubatão')
print(f'A contagem da tupla é:', len(cidades))

A contagem da tupla é: 3

In [10]:
#Contando quantas vezes o dado se repete
cidades = ('Fortaleza', 'Campinas', 'Cubatão', 'Cubatão')
print(cidades.count('Cubatão'))

2

In [16]:
# Junção de tuplas
nome_one = ('Carlos', 'Eduardo ')
nome_two = ('Oliveira', 'Soares')

nome_junto = nome_one + nome_two

eduardo_oliveira = nome_one[1] + nome_two[0]

print(eduardo_oliveira)

Eduardo Oliveira